#boxA,
#boxB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  padding: 10px;
  margin: 10px;
  -moz-user-select: none;
}
#boxA {
  background-color: #0e2e5b;
  color: white;
  width: 140px;
  height: 140px;
}
#boxB {
  background-color: #b42530;
  color: white;
  width: 200px;
  height: 200px;
}
